 <nav class="navigation cf">

                    <div class="mobile" data-type="classic" data-search="1">
                        <a href="#" class="selected">
                            <span class="text">Navigate</span><span class="current"></span> <i class="hamburger fa fa-bars"></i>
                        </a>
                    </div>
{{ test }}
                    <div class="menu-main-menu-container"><ul id="menu-main-menu" class="menu">
                        <li id="menu-item-722" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-727"><a title="Home" href="{{ VBOOSTLIVE_URL }}">Home</a></li>
                        <li id="menu-item-727" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-727"><a href="{{ VBOOSTLIVE_URL }}/login">Log-in</a></li>
                        <li id="menu-item-727" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-727"><a href="#">Reports</a></li>
                        <li id="menu-item-1419" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-cat-16 menu-item-1419"><a href="#">Contact Vboost</a></li>
</ul></div>         </nav>
