<div class="top-bar">
    <div class="wrap">
        <section class="top-bar-content cf">

        <!--
            <div class="trending-ticker">
                <span class="heading">Trending</span>
                <ul>

                    <li><a href="//theme-sphere.com/smart-mag/mesmerizing-view-of-a-perfect-moonlit-night/" title="Mesmerizing View of a Perfect Moonlit Night">Mesmerizing View of a Perfect Moonlit Night</a></li>

                    <li><a href="//theme-sphere.com/smart-mag/modern-cgi-effects-are-truly-stunning/" title="Modern CGI Effects Are Truly Stunning">Modern CGI Effects Are Truly Stunning</a></li>

                    <li><a href="//theme-sphere.com/smart-mag/aenean-enim-mi-iaculis-sit-2/" title="Orchard of the Heavens: Flowers Galore">Orchard of the Heavens: Flowers Galore</a></li>

                    <li><a href="//theme-sphere.com/smart-mag/photography-tips-from-wai-su/" title="Photography Tips From Wai Su">Photography Tips From Wai Su</a></li>

                    <li><a href="//theme-sphere.com/smart-mag/take-interior-design-to-a-new-level/" title="Take Interior Design to a New Level">Take Interior Design to a New Level</a></li>

                    <li><a href="//theme-sphere.com/smart-mag/the-scenic-modern-city-of-maladora-new-age-marvel/" title="The Scenic Modern City of Maladora &#8211; New Age Marvel">The Scenic Modern City of Maladora &#8211; New Age Marvel</a></li>


                </ul>
            </div>

            -->

            <!--<div class="search" style="margin-left: 20px;">-->
                <!--<form role="search" action="//theme-sphere.com/smart-mag/" method="get">-->
                    <!--<input type="text" name="s" class="query live-search-query" value="" placeholder="Search..."/>-->
                    <!--<button class="search-button" type="submit"><i class="fa fa-search"></i></button>-->
                <!--</form>-->
                <!--</div> &lt;!&ndash; .search &ndash;&gt;-->
                <div class="textwidget"  style="float: right; padding-left: 15px;">{% if request.user.username %}{{ request.user.username }}{% endif %}</div>
                <div class="textwidget"><ul class="social-icons cf">

                    <li><a href="https://vboost.com" target="_blank" class="icon fa fa-globe" title="Main website" style="background: #008b8b;"><span class="visuallyhidden">home</span></a></a></li>
                    <li><a href="https://www.facebook.com/vboostinc/" target="_blank" class="icon fa fa-facebook" title="Facebook"><span class="visuallyhidden">Facebook</span></a></li>
                    <li><a href="https://twitter.com/vboost_inc" target="_blank" class="icon fa fa-twitter" title="Twitter"><span class="visuallyhidden">Twitter</span></a></li>

                </ul>
            </div>

        </section>
    </div>

</div>